body {
  margin: 0;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  color: #333;
  overflow-x: hidden;
}

#gnav{
  background-color: rgb(161, 184, 219);
  }

#gnav ul{
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
  }
  
#gnav ul li{
  display: inline;
  display: table-cell;
  min-width: 50px;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc ; 
  }

  #gnav ul li a{
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: black;
  }

  #gnav ul li a:hover{
    background-color:#F8E750;
    border-bottom: 5px solid #F8E750;
  }
  img {
    width:100%;
    max-width: 100%;
    height:auto;
    float: left;
    }

.wrap {
  text-align: center;
  padding-top:30px;
}

header {
  background: #325f93;
  color: #fff;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-bottom: 0px;
}

header h1,
header p {
  margin: 0;
}

.features img {
  width :100%;
}

.wrap > h2 {
  border-bottom: solid 5px #325f93;
  padding: 12px 0;
}

.features > h2 {
  text-align: center;
  padding: 12px 0;
  border-bottom: solid 5px #325f93;
}

.features .container {
  margin: 0 32px;
}

.features p {
  line-height: 1.8;
  font-size: 18px;
}

.features section {
  padding-bottom: 63px;
}

footer {
  padding: 64px 0;
  background: #325f93;
  color: #fff;
  text-align: center;
}

.page-contents{
  color: #668ad8;
  border: dashed 2px #668ad8;
  background: #f1f8ff; 
  }

.page-contents li{
    font-language-override: 1.5;
    padding: 5px 0 15px;
  }

.contents{
    margin: 10px 0px 0px;
    font-size: 22px;
  }

@media (min-width: 900px) {

/* 目次について */

.page-contents{
  width: 1200px;
  margin: 100px auto 5px;
  }


  header .info {
    width: 60%;
    align-self: center;
  }

  header .pic {
    width: 40%;
  }

  .features .container {
    width: 1200px;
    margin: 0 auto;
  }
  
  .features section {
    display: flex;
    justify-content: space-between;
  }
  
  .features section:nth-child(even) {
    flex-direction: row-reverse;
  }
  
  .features .pic {
    width: 50%;
  }

  .features .info {
    width: calc(50% - 32px);
  }

  .features > h2 {
    width: 1200px;
    margin: 100px auto 50px;
  }

  .wrap > h2 {
    width: 1200px;
    margin: 0px auto 50px;
  }
}
