body {
  margin: 0;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  color: #333;
}

.wrap {
  text-align: center;
  padding-top:30px;
}

header {
  background: #325f93;
  color: #fff;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

header h1,
header p {
  margin: 0;
}


.features img {
  width :100%;
}

.wrap > h2 {
  border-bottom: solid 5px #325f93;
}

.features > h2 {
  text-align: center;
  padding: 12px 0;
  border-bottom: solid 5px #325f93;
}

.features .container {
  margin: 0 32px;
}

.features p {
  line-height: 1.8;
  font-size: 18px;
}

.features section {
  padding-bottom: 63px;
}

footer {
  padding: 64px 0;
  background: #325f93;
  color: #fff;
  text-align: center;
}


@media (min-width: 900px) {

  header .info {
    width: 60%;
    align-self: center;
    
  }

  header .pic {
    width: 40%;
  }

  .features .container {
    width: 800px;
    margin: 0 auto;
  }
  
  .features section {
    display: flex;
    justify-content: space-between;
  }
  
  .features section:nth-child(even) {
    flex-direction: row-reverse;
  }
  
  .features .pic {
    width: 50%;
  }
  
  .features .info {
    width: calc(50% - 32px);
  }

  .features > h2 {
    width: 800px;
    margin-left: 320px;
    margin-right: 320px;
    margin-top:100px;
  }

  .wrap > h2 {
    width: 800px;
    margin-left: 320px;
    margin-right: 320px;
    margin-top:100px; 
  }
}